#!/bin/bash
# Set default environment if not specified
: ${TARGET_ENV:=base_sepolia}

>&2 echo "direnv: loading environment from .env.$TARGET_ENV"

# Load the corresponding .env file
source_env ".env.$TARGET_ENV"
